
<div class="container w-50 mt-5 items-center">
    <div class="d-grid gap-5">
        <button type="button" class="btn py-4 btn-lg btn-primary" [routerLink]="['/clientes']">Clientes</button>
        <button type="button" class="btn py-4 btn-lg btn-primary" [routerLink]="['/facturas']">Facturas</button>
        <button type="button" class="btn py-4 btn-lg btn-primary" [routerLink]="['/productos']">Productos</button>
        <button type="button" class="btn py-4 btn-lg btn-primary" [routerLink]="['/usuarios']">Usuarios</button>
    </div>
</div>